body {
  background-color: #101116;
  margin: 0;
  padding: 0;
  font-family: Montserrat;
  color: #fff; }

nav {
  height: 10vh;
  width: 90vw;
  margin: 0 auto;
  margin-top: 3vh;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.logo {
  height: 100%;
  width: 10vh;
  background-image: url("/media/logo.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.sign-up {
  height: auto;
  height: 80%;
  width: 30vh;
  border: .1rem solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  font-weight: 550; }

main {
  height: auto;
  min-height: 90vh;
  width: 90vw;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; }

@keyframes gradientAnimation {
  10% {
    background-position: 100% 50%; }
  100% {
    background-position: 100% 50%; } }
.heading {
  font-size: 2rem;
  display: block;
  font-size: 3.8rem !important;
  line-height: 4.5rem;
  text-align: center;
  font-weight: bold;
  /* Makes the text bold */ }
  @media screen and (min-width: 480px) {
    .heading {
      font-size: calc(2rem + 2rem * ((100vw - 480px) / (544px))); } }
  @media screen and (min-width: 1024px) {
    .heading {
      font-size: 4rem; } }

.text-highlight {
  color: #2563EB; }

.sub-heading {
  display: block;
  width: 70%;
  text-align: center;
  font-size: 2.5rem;
  line-height: 3rem;
  margin-top: 1.5vh;
  color: #6b6b6b; }

.heading-CTA {
  height: auto;
  min-height: 30vh;
  display: block;
  display: flex;
  padding-top: 8vh; }

.heading-CTA > form {
  width: 45vw;
  padding: 0;
  margin: 0;
  height: 10vh;
  display: flex;
  align-items: baseline;
  gap: 1vw; }

.heading-CTA-email {
  border: 1rem solid white; }

.heading-CTA-button {
  min-width: 15vw !important;
  border-radius: 0 !important; }

.features-container {
  height: 85vh;
  width: 80vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 0.15fr) repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  color: #fff; }

.features-heading {
  grid-area: 1 / 1 / 2 / 5;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  font-weight: 500; }

.features-sub-heading {
  grid-area: 2 / 1 / 3 / 5;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #6b6b6b;
  font-size: 1.5rem;
  text-align: center; }

.feature-list {
  grid-area: 3 / 1 / 5 / 3;
  padding-left: 5vw;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 2vh;
  margin-top: 13%; }

.main-hook {
  width: 70%;
  font-size: 2rem;
  font-weight: 700; }

.sub-hook {
  width: 70%;
  font-size: 1.5rem;
  color: #6b6b6b; }

.one-liner {
  width: 70%;
  font-size: 1.5rem;
  font-family: Montserrat; }

.pain-point-list > ul {
  --icon-space: 1.3em;
  list-style: none;
  padding: 0; }

li {
  margin: 1rem 0;
  padding-left: var(--icon-space);
  line-height: 3vh !important;
  font-family: Montserrat; }

li:before {
  content: "\f00c";
  /* FontAwesome Unicode */
  font-family: FontAwesome;
  display: inline-block;
  margin-left: calc( var(--icon-space) * -1 );
  width: var(--icon-space);
  color: green; }

li::after {
  font-family: Montserrat; }

.feature-image {
  grid-area: 3 / 3 / 5 / 5;
  background-image: url("https://pagepilot.ai/build/_assets/features-02-ZMUSN3WX.webp");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat; }

.features-CTA {
  background-color: #1F2937;
  height: auto;
  min-height: 55vh;
  width: 80vw;
  margin: 0 auto;
  margin-top: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
  border-radius: 2rem; }

.features-CTA > .heading {
  font-weight: 600;
  padding: 1vh; }

.features-CTA > .sub-heading {
  width: 70%;
  text-align: center; }

.heading-CTA {
  height: auto; }

footer {
  height: 10vh;
  width: 90vw; }

.button:hover {
  border: 0.25rem solid #2563EB;
  background-color: #2563EB !important;
  transition: .2s ease-in;
  cursor: pointer; }

@media screen and (max-width: 480px) {
  .sign-up {
    width: 30vw !important;
    font-size: 1rem;
    text-align: center; }

  main {
    padding-left: 2vw;
    height: auto; }

  .heading {
    padding-top: 5vh;
    line-height: 3.5rem;
    font-size: 3rem;
    text-align: left; }

  .sub-heading {
    width: 100%;
    text-align: left;
    font-size: 2rem;
    line-height: 2.5rem; }

  .heading-CTA {
    width: 100vw; }

  .heading-CTA > form {
    width: 50vw !important; }

  .heading-CTA-button {
    background-color: pink; }

  .features-container {
    height: auto; }

  nav, main, footer {
    width: 100vw; }

  .sign-up, .heading-CTA > form, .features-container {
    flex-direction: column;
    align-items: stretch;
    width: 100%; }

  .sign-up, .heading-CTA-button {
    width: auto;
    margin: 1em auto; } }

/*# sourceMappingURL=index.css.map */
