

$bg-color: #101116;
$primary-color: #fff;
$secondary-color: rgb(107, 107, 107);
$pop-color: #2563EB;
$card-color: #1F2937;
// Responsive breakpoints
$breakpoint-mobile: 480px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;

// Mixin for responsive font-size
@mixin responsive-font-size($min, $max) {
  font-size: $min;
  @media screen and (min-width: $breakpoint-mobile) {
    font-size: calc(#{$min} + #{($max - $min)} * ((100vw - #{$breakpoint-mobile}) / (#{($breakpoint-desktop - $breakpoint-mobile)})));
  }
  @media screen and (min-width: $breakpoint-desktop) {
    font-size: $max;
  }
}

// Base styles
body {
    background-color: $bg-color;
    margin: 0;
    padding: 0;
    font-family: Montserrat;
    color: $primary-color;
}

nav{
    // background-color: yellow;

    // height: auto;
    height: 10vh;
    width: 90vw; 
    margin: 0 auto;
    margin-top: 3vh;
    display: flex;    
    justify-content: space-between;
    align-items: center;
}

.logo{
    height: 100%;
    width: 10vh;

    // background-color: pink;
    background-image: url("/media/logo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.sign-up{
    // background-color: honeydew;

    height: auto;
    // max-height: 90%;
    // height: 8vh;
    height: 80%;
    width: 30vh;
    // background-color: $pop-color;
    border: .1rem solid #fff;

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    font-weight: 550;

}

main{
    // background-color: orange;

    height: auto;
    min-height: 90vh;
    width: 90vw;
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    

}

@keyframes gradientAnimation {
    10% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 100% 50%;
    }
  }

.heading{
    // background-color: brown;
    @include responsive-font-size(2rem, 4rem); // Example usage of the mixin
    display: block;

    font-size: 3.8rem !important;
    line-height: 4.5rem;
    text-align: center;
   
    font-weight: bold; /* Makes the text bold */


}

.text-highlight{
    color: $pop-color;
}
.sub-heading{
    // background-color: blue;

    display: block;
    width: 70%;
    text-align: center;
    font-size: 2.5rem;
    line-height: 3rem;
    margin-top: 1.5vh;
    color: $secondary-color;
    
}

.heading-CTA{
    // background-color: antiquewhite;
    height: auto;
    min-height: 30vh;
    display: block;
    display: flex;
    padding-top: 8vh;
    



}

.heading-CTA > form{
    
    width: 45vw;
    padding: 0;
    margin: 0;
    // background-color: orangered;
    height: 10vh;
    display: flex;
    // flex-direction: column;
    // justify-content: flex-end;
    align-items: baseline;
    gap: 1vw;
    // border: 1rem solid white;

    
}


.heading-CTA-email{
    border: 1rem solid white;
}
.heading-CTA-button{
    min-width: 15vw !important;
    border-radius: 0 !important;
    // border: 1rem solid white;

}


.features-container{
    // background-color: greenyellow;

    height: 85vh;
    width: 80vw;
    margin: 0 auto;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, .15fr) repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;

    color: #fff;
}


.features-heading { 
    // background-color: yellow;

    grid-area: 1 / 1 / 2 / 5;

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    font-weight: 500;
    
}
.features-sub-heading { 
    // background-color: lime;
    grid-area: 2 / 1 / 3 / 5;

    display: flex;
    justify-content: center;
    align-items: center;
    color: $secondary-color;
    font-size: 1.5rem;
    text-align: center;
 }
.feature-list { 
    // background-color: aqua;
    grid-area: 3 / 1 / 5 / 3;

    padding-left: 5vw;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 2vh;
    margin-top: 13%;
 }

.main-hook{
    // background-color: brown;
    width: 70%;

    font-size: 2rem;
    font-weight: 700;

}

.sub-hook{
    // background-color: blueviolet;
    width: 70%;
    font-size: 1.5rem;
    color: $secondary-color;
}


.one-liner{
    // background-color: blue;
    width: 70%;

    font-size: 1.5rem;
    font-family: Montserrat;

}

.pain-point-list > ul{
    --icon-space: 1.3em;
    list-style: none;
    padding: 0;

}

li {
    // background-color: $card-color;
    margin: 1rem 0;
    // padding: 1rem;
    // border-radius: .5rem;
    padding-left: var(--icon-space);
    // font-size: 1.1rem;
    line-height: 3vh !important;
    // letter-spacing: .15rem;
    font-family: Montserrat;

  }
  
  li:before {
    content: "\f00c"; /* FontAwesome Unicode */
    font-family: FontAwesome;
    display: inline-block;
    margin-left: calc( var(--icon-space) * -1 );
    width: var(--icon-space);
    color: green;
  }

  li::after{
    font-family: Montserrat;

  }


.feature-image { 
    // background-color: bisque;
    grid-area: 3 / 3 / 5 / 5;
    // display: flex;
    // align-items: center;
    // justify-content: flex-start;
    background-image: url("https://pagepilot.ai/build/_assets/features-02-ZMUSN3WX.webp");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    
 }


 .features-CTA{
    background-color: $card-color;

    height: auto;
    min-height: 55vh;
    width: 80vw;
    margin: 0 auto;
    margin-top: 15vh ;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
    border-radius: 2rem;

    // font-size: clamp(1rem, 5rem, 5rem) !important;
 }

 .features-CTA > .heading {
    // font-size: clamp(1rem, 2fr, 3rem) !important;
    font-weight: 600;
    padding: 1vh;
 }

 .features-CTA > .sub-heading {
    // font-size: clamp(1rem, 2rem, 2rem) !important;
    width: 70%;
    text-align: center;


 }

.heading-CTA{
    // background-color: red;
    height: auto;
}

 footer{
    // background-color: lightblue;
    height: 10vh;
    margin: 20vh auto;
    width: 80vw;
    // margin-top: 20vh;
    border-top: .1rem solid white;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 2rem;
    line-height: 2rem;
 }

 .footer-mail {
    // background-color: yellow;
    border-bottom: .15rem solid white;
 }

  
.button:hover{
    border: .25rem solid $pop-color;
    background-color: $pop-color !important;
    transition: .2s ease-in;

    cursor: pointer;
}

// Make other elements responsive
@media screen and (max-width: $breakpoint-mobile) {
    body{
        // margin-left: 2vw;
    }
    nav{
        // background-color: red;
        // justify-content: space-between !important;
        

    }

    .sign-up{
        width: 30vw !important;
        font-size: 1rem;
        text-align: center;
    }
    main{
        padding-left: 2vw;
        // background-color: blue;
        height: auto;
    }
   .heading{
    padding-top: 5vh;
    line-height: 3.5rem;
    font-size: 3rem;
    text-align: left;
   }

   .sub-heading{
    width: 100%;
    text-align: left;
    font-size: 2rem;
    line-height: 2.5rem;
   }

   .heading-CTA{
    width: 100vw;
   }
   .heading-CTA > form{
    
    width: 50vw !important;
    
    
}


.heading-CTA-email{
    // border: 1rem solid white;
}
.heading-CTA-button{
    background-color: pink;
    // min-width: 15vw !important;
    // border-radius: 0 !important;
    // border: 1rem solid white;

}

.features-container{
    height: auto;
}

    nav, main, footer {
        width: 100vw; // Take full width on smaller screens
    }

    .sign-up, .heading-CTA > form, .features-container {
        flex-direction: column; // Stack elements vertically on smaller screens
        align-items: stretch;
        width: 100%;
    }

    .sign-up, .heading-CTA-button {
        width: auto; // Adjust width for buttons
        margin: 1em auto; // Center buttons
    }
}